<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="lote">
      <th mat-header-cell *matHeaderCellDef> Lote </th>
      <td mat-cell *matCellDef="let element"> {{element.lote}} </td>
    </ng-container>

    <ng-container matColumnDef="vencimiento">
      <th mat-header-cell *matHeaderCellDef> Fecha de Vencimiento </th>
      <td mat-cell *matCellDef="let element"> {{element.vencimiento | date:'dd/MM/yyyy'}} </td>
    </ng-container>

    <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef> Cantidad Disponible </th>
        <td mat-cell *matCellDef="let element"> {{element.amount}} unidades</td>
      </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> Precio </th>
      <td mat-cell *matCellDef="let element"> {{element.price}} Bs. </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  