<div class="container">
  <mat-card *ngFor="let laboratorio of laboratorios" class="lab-card">
    <mat-card-header>
      <mat-card-title>{{ laboratorio.laboratoryName }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p><strong>ID:</strong> {{ laboratorio.laboratoryId }}</p>
      <p><strong>Teléfono:</strong> {{ laboratorio.phone }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Ver detalles</button>
    </mat-card-actions>
  </mat-card>
</div>
