<button (click)="openModal()" class="add-btn">Agregar Producto</button>

<div class="modal-overlay" *ngIf="isModalOpen">
  <div class="modal">
    <h2>Registrar Producto</h2>

    <form (ngSubmit)="submitForm()">
      <label>Nombre del Producto:</label>
      <input type="text" [(ngModel)]="product.nameProduct" name="name" required>

      <label>Precio:</label>
      <input type="number" [(ngModel)]="product.priceProduct" name="precio" required>

      <label>Lote:</label>
      <input type="text" [(ngModel)]="product.lote" name="lote" required>

      <label>Cantidad:</label>
      <input type="number" [(ngModel)]="product.amount" name="cantidad" required>

      <label>Fecha de Vencimiento:</label>
      <input type="date" [(ngModel)]="product.expiration" name="expiration" required>

      <label>Composicion:</label>
      <input type="text" [(ngModel)]="product.composition" name="composition" required>

      <label>Descripcion:</label>
      <input type="text" [(ngModel)]="product.description" name="description" required>

      <label>Laboratorio:</label>
      <select [(ngModel)]="product.laboratoryId" name="laboratoryId" required>
        <option *ngFor="let lab of laboratories" [value]="lab.laboratoryId">
          {{ lab.laboratoryName }}
        </option>
      </select>

      <div class="modal-actions">
        <button type="submit">Guardar</button>
        <button type="button" (click)="closeModal()">Cancelar</button>
      </div>
    </form>
  </div>
</div>

<app-table
  (editarProducto)="onEditarProducto($event)">
</app-table>
